{% extends 'layout.html' %}

{% block body %}

<h1>Ready to Reflect on Your Day?</h1>

<border class="card">

    <h2> Register </h2>
    <form class="login" method="post">
        <input class="login-field" placeholder="Username" autocomplete="off" type="text" name="username"><br>
        <input class="login-field" placeholder="Password" autocomplete="off" type="password" name="password"><br>
        <input placeholder="Confirm Password" autocomplete="off" type="password" id="confirmation" name="confirmation"><br><br>
        <button type="submit" value="Register">Register</button>
    </form>

</border>

{% endblock %}
