{% extends 'layout.html' %}

{% block body %}

    <h1>Todo</h1>

    <div class="card">
        <h4>Description:</h4>
        <ul>
            <li>Here you can see your todo list for today or plan your todos for tomorrow.</li>
            <li>Simply select a date to view and create your todos.</li>
        </ul>
    </div>

    <div class="card">
        <form method="post" action="/todo" class="mb-4">
            <label for="date">Select a date:</label>
            <input type="date" name="selected_date" class="form-control">
            <br>
            <button name="action" value="show">Selected Date</button>     
            <button name="action" value="today">Today</button>
            <button name="action" value="tomorrow">Tomorrow</button>
            <button name="action" value="all">All</button>

        </form> 

        <h5>{{ display_date }}</h5>
        <h4>Todo:</h4><br>

        <form method="post" action="/todo" class="mb-4">
            <input type="hidden" name="selected_date" value="{{ selected_date }}">
            <div style="overflow-x: auto;">
                <table class="table table-hover" style="min-width: 600px;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" name="title" autocomplete="off" required></td>
                            <td><input class="form-control" name="description" autocomplete="off" required></td>
                            <td><input class="form-control" name="todo_date" type="date" autocomplete="off" required></td>
                            <td>
                                <select class="form-control" name="priority">
                                    {% for PRIOR in prior %}
                                    <option value="{{ PRIOR }}">{{ PRIOR }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><button name="action" value="create">Create</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

        {% if todo %}
        <form method="post" action="/todo" class="mb-4">
            <div style="overflow-x: auto;">
                <table class="table table-hover" style="min-width: 600px;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Priority</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todo %}
                        <tr>
                            <input type="hidden" name="selected_date" value="{{ selected_date }}">
                            <input type="hidden" name="todo_id" value="{{ todo.id }}">
                            <td>{{ todo.date }}</td>
                            <td>{{ todo.priority }}</td>
                            <td>{{ todo.titel }}</td>
                            <td>{{ todo.description }}</td>
                            <td>
                                <button name="action" value="delete" class="btn btn-danger">Delete</button>
                                <button name="action" value="done" class="btn btn-info">Done</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        {% endif %}

    </div>

{% endblock %}
